<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arhatic Matrimony</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/temp.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/env.js"></script>
    <script src="config.js"></script>
    <script src="controller/maincontrol.js"></script>

</head>

<body ng-app="arthatic" ng-controller="editProfilecontrol">

<header>
        <div class="center-block">
            <div class="container">
            <div class="col-sm-6 col-md-8">
                 <img src="images/logo.png" alt="logo" class="img-responsive" />
            </div>
               
                <div class="col-md-4">
                    <div id="custom-search-input">
                        <div class="input-group col-md-8 col-sm-12">
                        <input type="text" class="form-control input-lg search-bar" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                    <div class="menu-sub">
                         <ul>
                        <li><a href="">welcome, {{ myWelcome.basic.firstName }}</a></li>|
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                    </div>
                    
        </div>
                </div>
            </div>  
    <nav class="navbar navbar-default mega-nav">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="MainMenu">
            <ul class="nav navbar-nav menu-list">
               
                <li><a href="myprofile.html" class="">MyProfile</a></li>
                <li><a href="search.html">Search</a></li>
            </ul>
            
        </div>
        </div>
    </nav>

</header>
    
    <section class="login">
        <div class="container">
            <form class="form-horizontal">
                <fieldset>

<!-- Form Name -->
<legend class="color_red">Please enter details for your profile</legend>
<span class="span_left">All fileds are mandatory</span>

<div class="pro_secs">
<h4>Physical Attribute</h4>
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Height</label>
  <div class="col-md-4">
    <select mmodel="height" id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select Height</option>
      <option></option>
    </select>
  </div>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Cms.</option>
      <option></option>
    </select>
  </div>
  </div>

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Weight</label>
  <div class="col-md-4">
    <select ng-model="weight" id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select Weight (Kgs)</option>
      <option>30-50</option>
      <option>50-80</option>
    </select>
  </div>
  </div>
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Complexity</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      Very Fair
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Fair
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Wheatish
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Dark
    </label>
  </div>
</div>   

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Any Disability</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      Normal
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Physically Challanged
    </label>
  </div>
</div>  

</div>

<div class="pro_secs">
<h4>Personal Information</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Martial Status</label>
  <div class="col-md-6"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      Never Married
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Widowed
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Divorced
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Awaiting Divorce
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Religion</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select</option>
      <option>Hindi</option>
      <option>Panjabi</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Language Known</label>  
  <div class="col-md-4">
  <input ng-model="basic.languageknown" id="ln" name="ln" type="text" placeholder="Enter Known Language" class="form-control input-md" required="">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Contact Number</label>  
  <div class="col-md-4">
  <input ng-model="" id="ln" name="ln" type="text" placeholder="Whatsapp Contact Number" class="form-control input-md" required="">
  </div>
</div>
 

</div>

<div class="pro_secs">
<h4>Habits</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Eating Habits</label>
  <div class="col-md-5"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" ng-checked="(lifeStyle.vegiterian == 1)">
      Vegetarian
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Non-Vegetarian
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Egaetarian
    </label>
  </div>
</div> 
 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Smoking Habits</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      No
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Yes
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Occasionally
    </label>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Drinking Habits</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      No
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Yes
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Occasionally
    </label>
  </div>
</div>

</div>

<div class="pro_secs">
<h4>Location</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Native Place</label>  
  <div class="col-md-4">
  <input id="ln" name="ln" type="text" placeholder="Enter a Native Place" class="form-control input-md" required="">
  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="ln">Current City</label>  
  <div class="col-md-4">
  <input id="ln" name="ln" type="text" placeholder="Enter a Current City" class="form-control input-md" required="">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Current State</label>  
  <div class="col-md-4">
  <input id="ln" name="ln" type="text" placeholder="Enter a Current State" class="form-control input-md" required="">
  </div>
</div>
 

</div>
                    
<div class="pro_secs">
<h4>Education & Occupation</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Religion</label>
  <div class="col-md-6">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select Education</option>
      <option>Post Graduation</option>
      <option>Graduation</option>
        <option>Matic</option>
    </select>
  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Employed In</label>
  <div class="col-md-8"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      Government
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Private
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Bussiness
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Defence
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Self Employed
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Not Working
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Occupation</label>
  <div class="col-md-6">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select Occupation</option>
      <option>Post Graduation</option>
      <option>Graduation</option>
        <option>Matic</option>
    </select>
  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Income</label>
  <div class="col-md-2">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select Currency</option>
      <option>India - Rs.</option>
      <option>USA - Doller</option>
    </select>
  </div>
  <div class="col-md-3">
      <input id="ln" name="ln" type="text" placeholder="Whatsapp Contact Number" class="form-control input-md" required="">
  </div>
  <div class="col-md-3">
   <label class="radio-inline active" for="">
      <input type="radio" name="Male" id="" value="yes" checked="checked">
      Per Month
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Female" id="" value="no">
      Per Year
    </label>
  </div>
</div>

</div>

<div class="pro_secs">
<h4>Family Profile</h4>

 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Family Status</label>
  <div class="col-md-8"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Middile Class" id="" value="yes" checked="checked">
      Middile Class
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Uper Middile Class" id="" value="no">
      Upper Middile Class
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Rich" id="" value="no">
      Rich
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Affluent" id="" value="no">
      Affluent
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="FamilyType">Family Type</label>
  <div class="col-md-8"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Joint" id="" value="yes" checked="checked">
      Joint
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Nuclear" id="" value="no">
      Nuclear
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Family Values</label>
  <div class="col-md-8"> 
    <label class="radio-inline active" for="">
      <input type="radio" name="Orthodox" id="" value="yes" checked="checked">
      Orthodox
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Traditional" id="" value="no">
      Traditional
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Moderate" id="" value="no">
      Moderate
    </label>
    <label class="radio-inline" for="">
      <input type="radio" name="Liberal" id="" value="no">
      Liberal
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="">Family Values</label>
  <div class="col-md-6"> 
    <textarea class="form-control" id="exampleTextarea" rows="10" columns="50"></textarea>
  </div>
</div> 
</div>

<div class="pro_secs">
<h4>About Myself</h4>
   
<div class="form-group">
  <label class="col-md-3 control-label" for="">Something about me</label>
  <div class="col-md-6"> 
    <textarea class="form-control" id="exampleTextarea" rows="10" columns="50"></textarea>
  </div>
</div>
<div class="form-group">
    <div class="col-md-3 control-label" for="">Upload Pictures</div>
    <div class="col-md-6">
        <input type="text" class="form-control" readonly="" style="border-radius: 1px;">
        <label class="input-group-btn">
                    <span class="btn btn-primary btn-browse">
                        Browse… <input type="file" style="display: none;" multiple="">
                    </span>
                </label>
    </div>
</div>
</div>
                    
<div class="pro_secs">
<h4>Pranic Healing & Arhatic Yoga</h4>
<p>Course done in Pranic Healing</p>
   
<div class="form-group">
  <div class="col-md-4">
      <label class="control-label color_red" for="">Something about me</label>
      <div class="checkbox">
      <label>
        <input type="checkbox"> Basic Pranic Healing
      </label>
          <label>
        <input type="checkbox"> Advanced Pranic Healing
      </label>
          <label>
        <input type="checkbox"> Pranic Psycotherapy
      </label>
          <label>
        <input type="checkbox"> Pranic Crystal Healing
      </label>
          <label>
        <input type="checkbox"> Pranic Psychic Self Defence
      </label>
          <label>
        <input type="checkbox"> Pranic Facial Rejuvenation & Body Sculpting
      </label>
    </div>
  </div>
    <div class="col-md-4">
      <label class="control-label color_red" for="">Spirituality Series</label>
      <div class="checkbox">
      <label>
        <input type="checkbox"> Achieving Oneness With the Higher Soul
      </label>
          <label>
        <input type="checkbox"> Arhatic Yoga
      </label>
          <label>
        <input type="checkbox"> Higher Clairvoyance
      </label>
          <label>
        <input type="checkbox"> Inner Teachings of Hinduism  Revealed
      </label>
          <label>
        <input type="checkbox"> Inner Teachings of Christianity Revealed
      </label>
          <label>
        <input type="checkbox"> Inner Teachings of Buddhism Revealed
      </label>
           <label>
        <input type="checkbox"> Spiritual Essence Of Man
      </label>
           <label>
        <input type="checkbox"> Lord's Prayer
      </label>
    </div>
  </div>
    <div class="col-md-4">
      <label class="control-label color_red" for="">Prosperity Series</label>
      <div class="checkbox">
      <label>
        <input type="checkbox"> Kriyashakti
      </label>
      <label>
        <input type="checkbox"> Pranic Feng Shui
      </label>
      <label>
        <input type="checkbox"> Spiritual Business Management
      </label>
    </div>
  </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="">Practicing Arhatic Level</label>
    <div class="col-md-5">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select Currency</option>
      <option>India - Rs.</option>
      <option>USA - Doller</option>
    </select>
  </div>
</div>
    <div class="form-group">
    <label class="col-md-3 control-label" for="">Trainer</label>
    <div class="col-md-3">
        <label class="radio-inline active" for="">
      <input type="radio" name="NO" id="" value="" checked="checked">
      No
    </label> 
    <label class="radio-inline" for="">
      <input type="radio" name="Yes" id="" value="no">
      Yes
    </label>
    </div>
    <div class="col-md-5">
    <select id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select</option>
      <option>India - Rs.</option>
      <option>USA - Doller</option>
    </select>
  </div>
</div>
</div>
</fieldset>
                <div class="form-group">
                 <div class="col-md-12 col-sm-6 col-md-push-3 btn-both">
    <button id="submit" name="submit" class="btn btn-login">Submit</button>
                     <button id="submit" name="submit" class="btn btn-grey">Cancel</button>
  </div>
                    
                </div>
            </form>
        </div>
    </section>
     
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="footer-social-icons">
                           <ul class="social-icons">
                                <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-play"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="copyright">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="contact">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+91 0000000000</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>arhaticticmatrimony@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
  
</body>

</html> 