<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arhatic Matrimony</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/temp.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/env.js"></script>
    <script src="config.js"></script>
    <script src="controller/maincontrol.js"></script>

</head>

<body ng-app="arthatic" ng-controller="editProfilecontrol">

<header>
        <div class="center-block">
            <div class="container">
            <div class="col-sm-6 col-md-8">
                 <img src="images/logo.png" alt="logo" class="img-responsive" />
            </div>
               
                <div class="col-md-4">
                    <div id="custom-search-input">
                        <div class="input-group col-md-8 col-sm-12">
                        <input type="text" class="form-control input-lg search-bar" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                    <div class="menu-sub">
                         <ul>
                        <li><a href="">welcome, {{ basic.firstName }}</a></li>|
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                    </div>
                    
        </div>
                </div>
            </div>  
    <nav class="navbar navbar-default mega-nav">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="MainMenu">
            <ul class="nav navbar-nav menu-list">
               
                <li><a href="myprofile.html" class="">MyProfile</a></li>
                <li><a href="search.html">Search</a></li>
            </ul>
            
        </div>
        </div>
    </nav>

</header>
    
    <section class="login">
        <div class="container">
            <form class="form-horizontal">
                <fieldset>

<!-- Form Name -->
<legend class="color_red">Please enter details for your profile</legend>
<span class="span_left">All fileds are mandatory</span>

<div class="pro_secs">
<h4>Physical Attribute</h4>
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Height (cm)</label>
  <div class="col-md-4">
    <input ng-model="height" ng-value="height" type="number" step="0.01" min="152" id="selectbasic" type="decimal" name="selectbasic" class="form-control input-md">
  </div>
  </div>

<div class="form-group">
    <label class="col-md-3 control-label" for="selectbasic">Weight</label>
    <div class="col-md-4">
      <select ng-model="basic.weight" id="weight" name="weight" class="form-control input-md">
        <option>Select Weight (Kgs)</option>
        <option>40 kg</option>
        <option>45 kg</option>
        <option>46 kg</option>
        <option>47 kg</option>
        <option>48 kg</option>
        <option>49 kg</option>
        <option>50 kg</option>
        <option>51 kg</option>
        <option>52 kg</option>
        <option>53 kg</option>
        <option>54 kg</option>
        <option>55 kg</option>
        <option>56 kg</option>
        <option>57 kg</option>
        <option>58 kg</option>
        <option>59 kg</option>
        <option>60 kg</option>
        <option>61 kg</option>
        <option>62 kg</option>
        <option>63 kg</option>
        <option>64 kg</option>
        <option>65 kg</option>
        <option>66 kg</option>
        <option>67 kg</option>
        <option>68 kg</option>
        <option>69 kg</option>
        <option>70 kg</option>
        <option>71 kg</option>
        <option>72 kg</option>
        <option>73 kg</option>
        <option>74 kg</option>
        <option>75 kg</option>
        <option>76 kg</option>
        <option>77 kg</option>
        <option>78 kg</option>
        <option>79 kg</option>
        <option>80 kg</option>
        <option>81 kg</option>
        <option>82 kg</option>
        <option>83 kg</option>
        <option>84 kg</option>
        <option>85 kg</option>
        <option>86 kg</option>
        <option>87 kg</option>
        <option>88 kg</option>
        <option>89 kg</option>
        <option>90 kg</option>
        <option>91 kg</option>
        <option>92 kg</option>
        <option>93 kg</option>
        <option>94 kg</option>
        <option>95 kg</option>
        <option>96 kg</option>
        <option>97 kg</option>
        <option>98 kg</option>
        <option>99 kg</option>
       <option>100 kg</option>
      </select>
    </div>
</div>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Complexity</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input ng-model="complex" type="radio" name="complex" value="Very Fair" ng-checked="(basic.complex == 'Very Fair')">
      Very Fair
    </label> 
    <label class="radio-inline" for="">
      <input ng-model="complex" type="radio" name="complex" value="Fair" ng-checked="(basic.complex == 'Fair')">
      Fair
    </label>
    <label class="radio-inline" for="">
      <input ng-model="complex" type="radio" name="complex" value="Wheatish" ng-checked="(basic.complex == 'Wheatish')">
      Wheatish
    </label>
    <label class="radio-inline" for="">
      <input ng-model="complex" type="radio" name="complex" value="Dark" ng-checked="(basic.complex == 'Dark')">
      Dark
    </label>
  </div>
</div>   

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Any Disability</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input ng-model="disablity" type="radio" name="disablity" value="Normal" ng-checked="(basic.disablity == 'Normal')">
      Normal
    </label> 
    <label class="radio-inline" for="">
      <input ng-model="disablity" type="radio" name="disablity" value="Physically Challanged" ng-checked="(basic.disablity == 'Physically Challanged')">
      Physically Challanged
    </label>
  </div>
</div>  

</div>

<div class="pro_secs">
<h4>Personal Information</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Martial Status</label>
  <div class="col-md-6"> 
    <label class="radio-inline active" for="">
      <input ng-model="maritialStatus" type="radio" name="maritialStatus" value="Never Married" ng-checked="(basic.maritialStatus == 'Never Married')">
      Never Married
    </label> 
    <label class="radio-inline" for="">
      <input ng-model="maritialStatus" type="radio" name="maritialStatus" value="Widowed" ng-checked="(basic.maritialStatus == 'Widowed')">
      Widowed
    </label>
    <label class="radio-inline" for="">
      <input ng-model="maritialStatus" type="radio" name="maritialStatus" value="Divorced" ng-checked="(basic.maritialStatus == 'Divorced')">
      Divorced
    </label>
    <label class="radio-inline" for="">
      <input ng-model="maritialStatus" type="radio" name="maritialStatus" value="Awaiting Divorce" ng-checked="(basic.maritialStatus == 'Awaiting Divorce')">
      Awaiting Divorce
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Religion</label>
  <div class="col-md-4">
    <select ng-model="basic.religion" id="selectbasic" name="selectbasic" class="form-control input-md">
      <option>Select</option>
      <option>Hindu</option>
      <option>Panjabi</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Language Known</label>  
  <div class="col-md-4">

    <select ng-model="basic.languageknown" id="selectbasic" name="selectbasic" class="form-control input-md" multiple>
      <option>Hindi</option>
      <option>Punjabi</option>
      <option>Kanada</option>
      <option>Telgu</option>
      <option>English</option>
    </select>

  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Contact Number</label>  
  <div class="col-md-4">
  <input ng-model="mobile" ng-value="contact.mobile" id="ln" name="ln" type="text" placeholder="Contact Number" class="form-control input-md" required="">
  </div>
</div>
 

</div>

<div class="pro_secs">
<h4>Habits</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Eating Habits</label>
  <div class="col-md-5"> 
    <label class="radio-inline active" for="">
      <input ng-model="lifeStyle.vegiterian" type="radio" name="vegiterian" value="1" ng-checked="(lifeStyle.vegiterian == 1)">
      Vegetarian
    </label> 
    <label class="radio-inline" for="">
      <input ng-model="lifeStyle.NonVegiterian" type="radio" name="vegiterian" value="1" ng-checked="(lifeStyle.NonVegiterian == 1)">
      Non-Vegetarian
    </label>
    <label class="radio-inline" for="">
      <input ng-model="lifeStyle.Egaetarian" type="radio" name="vegiterian" value="1" ng-checked="(lifeStyle.Egaetarian == 1)">
      Egaetarian
    </label>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Smoking Habits</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
      <input ng-model="lifeStyle" ng-checked="(lifeStyle.smoke == 1)" type="radio" name="smoke" value="1">
      No
    </label> 
    <label class="radio-inline" for="">
      <input ng-model="lifeStyle" ng-checked="(lifeStyle.smoke == 1)" type="radio" name="smoke" value="1">
      Yes
    </label>
    <label class="radio-inline" for="">
      <input ng-model="lifeStyle" ng-checked="(lifeStyle.smokeOcc == 1)" type="radio" name="smoke" value="1">
      Occasionally
    </label>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Drinking Habits</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="">
     <input ng-model="lifeStyle" ng-checked="(lifeStyle.drink == 1)" type="radio" name="drink" value="1">
      No
    </label> 
    <label class="radio-inline" for="">
     <input ng-model="lifeStyle" ng-checked="(lifeStyle.drink == 1)" type="radio" name="drink" value="1">
      Yes
    </label>
    <label class="radio-inline" for="">
      <input ng-model="lifeStyle" ng-checked="(lifeStyle.drinkOcc == 1)" type="radio" name="drink" value="1">
      Occasionally
    </label>
  </div>
</div>

</div>

<div class="pro_secs">
<h4>Location</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Native Place</label>  
  <div class="col-md-4">
    <select ng-model="basic.belongsToCity" id="belongsToCity" name="belongsToCity" class="form-control input-md">
      <option></option>
      <option>DELHI</option>
      <option>BANGALORE</option>
      <option>NOIDA</option>
      <option>GHAZIABD</option>
      <option>CHENNAI</option>
    </select>

  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="ln">Current City</label>  
  <div class="col-md-4">
  <select ng-model="basic.currentToCity" id="currentToCity" name="currentToCity" class="form-control input-md">
      <option></option>
      <option>DELHI</option>
      <option>BANGALORE</option>
      <option>NOIDA</option>
      <option>GHAZIABD</option>
      <option>CHENNAI</option>
  </select>

  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Current State</label>  
  <div class="col-md-4">

  <select ng-model="basic.currentToState" id="currentToState" name="currentToState" class="form-control input-md">
      <option></option>
      <option>DELHI</option>
      <option>MAHARASHTRA</option>
      <option>KARNATAKA</option>
      <option>TAMILNADU</option>
      <option>GUJRAT</option>
      <option>RAJASTHAN</option>
  </select>

  </div>
</div>
 

</div>
                    
<div class="pro_secs">
<h4>Education & Occupation</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Education</label>
  <div class="col-md-6">
    <input ng-model="education" ng-value="education.PG" id="selectbasic" name="selectbasic" class="form-control input-md">
  </div>
</div>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Employed In</label>
  <div class="col-md-4">

   <select ng-model="professional.orgType" id="orgType" name="orgType" class="form-control input-md">
      <option></option>
      <option>Government</option>
      <option>Private</option>
      <option>Bussiness</option>
      <option>Defence</option>
      <option>Self Employed</option>
      <option>Not Working</option>
  </select>

  </div>
</div> 

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Occupation</label>
  <div class="col-md-4">

    <select ng-model="professional.occupation" id="occupation" name="occupation" class="form-control input-md">
        <option></option>
        <option>Teacher</option>
        <option>Assistant</option>
        <option>Software Engineer</option>
        <option>Manager</option>
        <option>Student</option>
        <option>other</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Income</label>
  <div class="col-md-2">

     <select ng-model="professional.currency" id="currency" name="currency" class="form-control input-md">
      <option></option>
      <option>Rupee</option>
      <option>Doller</option>
      <option>Diram</option>
    </select>


  </div>
  <div class="col-md-3">

      <select ng-model="professional.annualIncome" id="annualIncome" name="annualIncome" class="form-control input-md">
      <option></option>
      <option>less than 1 l.p.a </option>
      <option>1 l.p.a - 3 l.p.a</option>
      <option>3 l.p.a - 5 l.p.a</option>
      <option>5 l.p.a - 10 l.p.a</option>
      <option>10 l.p.a -15 l.p.a</option>
      <option>15 l.p.a - 20 l.p.a</option>
      <option>20 l.p.a - 25 l.p.a</option>
      <option>25 l.p.a - 30 l.p.a</option>
      <option>30 l.p.a - 35 l.p.a</option>
      <option>35 l.p.a - 40 l.p.a</option>
      <option>40 l.p.a - 45 l.p.a</option>
      <option>45 l.p.a - 50 l.p.a</option>
      <option>50 l.p.a - 60 l.p.a</option>
      <option>60 l.p.a - 70 l.p.a</option>
      <option>70 l.p.a - 80 l.p.a</option>
      <option>80 l.p.a - 90 l.p.a</option>
       <option>less than 100 l.p.a </option>
    </select>

  </div>
</div>

</div>

<div class="pro_secs">
<h4>Family Profile</h4>

 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Family Status</label>
  <div class="col-md-4"> 

    <select ng-model="family.familyStatus" id="familyStatus" name="familyStatus" class="form-control input-md">
        <option></option>
        <option>Middile Class</option>
        <option>Upper Middle Class</option>
        <option>Rich</option>
        <option>Affluent</option>
    </select>

  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="FamilyType">Family Type</label>
  <div class="col-md-4"> 

    <select ng-model="family.familyType" id="familyType" name="familyType" class="form-control input-md">
        <option></option>
        <option>Joint</option>
        <option>Nuclear</option>
    </select>

  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Family Values</label>
  <div class="col-md-4"> 

   <select ng-model="family.familyValues" id="familyValues" name="familyValues" class="form-control input-md">
        <option></option>
        <option>Orthodox</option>
        <option>Traditional</option>
         <option>Moderate</option>
        <option>Liberal</option>
    </select>

  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="">About Family</label>
  <div class="col-md-6"> 
    <textarea ng-model="about" ng-value="family.about" class="form-control" id="exampleTextarea" rows="10" columns="50"></textarea>
  </div>
</div> 
</div>

<div class="pro_secs">
<h4>About Myself</h4>
   
<div class="form-group">
  <label class="col-md-3 control-label" for="">Something about me</label>
  <div class="col-md-6"> 
    <textarea ng-model="aboutMe" ng-value="basic.aboutMe" class="form-control" id="exampleTextarea" rows="10" columns="50"></textarea>
  </div>
</div>
<div class="form-group">
    <div class="col-md-3 control-label" for="">Upload Pictures</div>
    <div class="col-md-6">
        <input type="text" class="form-control" readonly="" style="border-radius: 1px;">
        <label class="input-group-btn">
                    <span class="btn btn-primary btn-browse">
                        Browse… <input type="file" style="display: none;" multiple="">
                    </span>
                </label>
    </div>
</div>
</div>
                    
<div class="pro_secs">
<h4>Pranic Healing & Arhatic Yoga</h4>
<p>Course done in Pranic Healing</p>
   
<div class="form-group">
  <div class="col-md-4">

  <label class="control-label color_red" for="">Healing Series</label>

   <select ng-model="parnicYoga.healing" id="healing" name="healing" class="form-control input-md" multiple>
      <option>Basic Pranic Healing</option>
      <option>Advanced Pranic Healing</option>
      <option>Pranic Psycotherapy</option>
      <option>Pranic Crystal Healing</option>
      <option>Pranic Psychic Self Defence</option>
      <option>Pranic Facial Rejuvenation & Body Sculpting</option>
      <option>spritual</option>
    </select>

  </div>
    <div class="col-md-4">
      <label class="control-label color_red" for="">Spirituality Series</label>

      <select ng-model="parnicYoga.spritual" id="spritual" name="spritual" class="form-control input-md" multiple>
        <option>Achieving Oneness With the Higher Soul</option>
        <option>Arthatic Yoga</option>
        <option>Higher Clairvoyance</option>
        <option>Inner Teachings of Hinduism Revealed</option>
        <option>Inner Teachings of Christianity Revealed</option>
        <option>Inner Teachings of Buddhism Revealed</option>
        <option>Spiritual Essence Of Man</option>
        <option>Lord's Prayer</option>
      </select>

  </div>
    <div class="col-md-4">
      <label class="control-label color_red" for="">Prosperity Series</label>

       <select ng-model="parnicYoga.prosperity" id="prosperity" name="prosperity" class="form-control input-md" multiple>
        <option>Kriyashakti</option>
        <option>Pranic Feng Shui</option>
        <option>Spiritual Business Management</option>
      </select>

  </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="">Practicing Arhatic Level</label>
    <div class="col-md-5">
    <select ng-model="parnicYoga.arhaticLevel" id="arhaticLevel" name="arhaticLevel" class="form-control input-md">
      <option>Select Currency</option>
      <option>Preparatory level</option>
      <option>Beginer</option>
      <option>Intermidiate</option>
      <option>Expert</option>
    </select>
  </div>
</div>
    <div class="form-group">
    <label class="col-md-3 control-label" for="">Trainer</label>
    <div class="col-md-3">
        <label class="radio-inline active" for="">
      <input ng-model="parnicYoga.isTrainer" name="isTrainer" type="radio" name="NO" id="" value="0" ng-checked="(parnicYoga.isTrainer == '0')">
      No
    </label> 
    <label class="radio-inline" for="">
      <input ng-model="parnicYoga.isTrainer" name="isTrainer" type="radio" name="Yes" id="" value="1" ng-checked="(parnicYoga.isTrainer == '1')">
      Yes
    </label>
    </div>
</div>
</div>
</fieldset>
                <div class="form-group">
                 <div class="col-md-12 col-sm-6 col-md-push-3 btn-both">

                      <button id="submit" name="submit" type="submit" class="btn btn-login" ng-click="updateProfile()">Submit</button>
                     <button id="submit" name="submit" type="submit" ng-click="cancel()" class="btn btn-grey">Cancel</button>
  </div>
                    
                </div>
            </form>
        </div>
    </section>
     
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="footer-social-icons">
                           <ul class="social-icons">
                                <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-play"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="copyright">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="contact">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+91 0000000000</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>arhaticticmatrimony@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
  
</body>

</html> 