<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arhatic Matrimony</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
   <link href="css/temp.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/env.js"></script>
    <script src="config.js"></script>
    <script src="controller/maincontrol.js"></script>
</head>

<body ng-app="arthatic" ng-controller="logincontrol">

<header>
   <div class="center-block">
            <div class="container">
            <div class="col-sm-6 col-md-8">
                <a href="index.html"><img src="images/logo.png" alt="logo" class="img-responsive" /></a>
            </div>
                <div class="col-md-4">
                    <div id="custom-search-input">
                        <div class="input-group col-md-8 col-sm-12">
                        <input type="text" class="form-control input-lg search-bar" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                    <div class="menu-sub">
                         <ul>
                        <li><a href="registretion_form.html">Signup</a></li>|
                        <li><a href="login.html">Login</a></li>
                    </ul>
                    </div>  
        </div>
            </div>
        </div>
    
    <nav class="navbar navbar-default mega-nav">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="MainMenu">
            <ul class="nav navbar-nav menu-list">
                <li><a href="index.html" class="">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <!-- <li><a href="profile.html">Profile</a></li> -->
                <li><a href="search.html">Search</a></li>
                <li><a href="success_stories.html">Success Stories</a></li> 
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="privacy.html">Privacy</a></li>
            </ul>
            
        </div>
        </div>
    </nav>

</header>
    
    <section class="login">
       <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-12">
                <h2>Log In to your Account</h2>
            </div>
            <div class="col-sm-6 col-md-6 form-brdr">
                <form class="form-style">
					<div class="form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">User Name</label>
					    	<input ng-model="username" type="text" class="form-control" id="" placeholder=" Enter Name">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Password</label>
					    	<input ng-model="pass" type="password" class="form-control" id="exampleInputEmail" placeholder="Enter your passwords">
					  	</div>
                        <div class="text-fg">
                            <span>Forget Your password?</span>
                        </div>
                        <div class="form-group">
					    	
					    	<input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
					  	</div>
                        <div class="form-group">
			  				<button ng-click="usrname()" type="button" class="btn btn-login submit">Log In</button>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="">Keep me logged in</label>
                        </div>
			  		</div>
			  		
				</form>
            </div>
            
            <div class="col-sm-6 col-md-6">
            
                <div class="new-reg">
                    <h2>NEW REGISTRETION</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec leo id est mattis dignissim. Maecenas malesuada tempor sem id accumsan. Pellentesque ultrices ligula elit, non faucibus quam finibus blandit. Vestibulum sagittis augue in pretium facilisis. Aliquam erat volutpat. Integer elementum, eros sit amet eleifend volutpat, lorem eros tempus mi, nec elementum ex nulla quis eros. Pellentesque placerat libero non volutpat laoreet. Pellentesque finibus, lectus eget ultrices imperdiet, erat lacus tincidunt est, ut scelerisque lacus nisl sed turpis. </p>
                    <a href="registretion_form.html"><button type="button" class="btn btn-login submit">Register Now</button></a>
                </div>
            </div>
           </div> 
       </div>
    
    </section>
     
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="footer-social-icons">
                           <ul class="social-icons">
                                <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-play"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="copyright">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="contact">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+91 0000000000</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>arhaticticmatrimony@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
