<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arhatic Matrimony</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/temp.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/env.js"></script>
    <script src="config.js"></script>
    <script src="controller/maincontrol.js"></script>

</head>

<body ng-app="arthatic" ng-controller="myProfilecontrol">

<header>
        <div class="center-block">
            <div class="container">
            <div class="col-sm-6 col-md-8">
                 <img src="images/logo.png" alt="logo" class="img-responsive" />
            </div>
               
                <div class="col-md-4">
                    <div id="custom-search-input">
                        <div class="input-group col-md-8 col-sm-12">
                        <input type="text" class="form-control input-lg search-bar" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                    <div class="menu-sub">
                         <ul>
                        <li><a href="">welcome, {{ basic.firstName }}</a></li>|
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                    </div>
                    
        </div>
                </div>
            </div>  
    <nav class="navbar navbar-default mega-nav">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="MainMenu">
            <ul class="nav navbar-nav menu-list">
               
                <li><a href="myprofile.html" class="">MyProfile</a></li>
                <li><a href="search.html">Search</a></li>
              <!--   <li><a href="#">Visitors</a></li> -->
                <li><a href="editProfile.html">Update-Profile</a></li>
            </ul>
            
        </div>
        </div>
    </nav>

</header>
    
    <section class="login">
        <div class="container">
            <form class="form-horizontal">
                <fieldset>

<!-- Form Name -->
<legend class="color_red">Please enter details for your profile</legend>
<span class="span_left">All fileds are mandatory</span>

<div class="pro_secs">
  <div class="row">
    <div class="col-md-4">
      <img ng-model="profilePic" ng-src="{{profilePic}}" alt="" />
    </div>
    <div class="col-md-5">
      <h4>{{ basic.firstName }}</h4>
      <span>{{ userid }} | {{basic.profileManagedBy || "Not Mentioned"}}</span>
      <p>{{ age || "Not Mentioned"}} Yrs, {{ basic.height || "Not Mentioned"}}<br>{{ basic.religion }}<br>{{ basic.cast }}<br>{{basic.belongsToCity}}<br>{{basic.currentToCity}}, {{basic.currentToState || "Not Mentioned"}}<br>{{professional.occupation || "Not Mentioned"}}<br>{{professional.currency || "Not Mentioned"}}, {{professional.annualIncome || "Not Mentioned"}}</p>
    </div>
    <div class="col-md-3">
      <span><i class="fa fa-mobile" style="font-size: 50px;"></i><br><a href="" >View Mobile Number</a></span>
    </div>
  </div>
</div>
<div class="pro_secs">
<h4>Physical Attribute</h4>
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Height</label>
  <div class="col-md-4">
    <p>{{ basic.height || "Not Mentioned"}}</p>
  </div>
  </div>

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Weight</label>
  <div class="col-md-4">
    <p>{{ basic.weight || "Not Mentioned"}}</p>
  </div>
  </div>
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Complexity</label>
  <div class="col-md-4"> 
    <p>{{ basic.complex || "Not Mentioned"}}</p>
  </div>
</div>   

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Any Disability</label>
  <div class="col-md-4"> 
    <p>{{ basic.disablity || "Not Mentioned"}}</p>
  </div>
</div>  

</div>

<div class="pro_secs">
<h4>Personal Information</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Martial Status</label>
  <div class="col-md-6"> 
    <p>{{ basic.maritialStatus || "Not Mentioned"}}</p>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Religion</label>
  <div class="col-md-4">
    <p>{{ basic.religion || "Not Mentioned"}}</p>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Language Known</label>  
  <div class="col-md-4">
  <p> <span ng-repeat="x in basic.languageknown">
    {{ x || "Not Mentioned"}},
  </span></p>
   
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Contact</label>  
  <div class="col-md-4">
    <p>{{contact.mobile || "Not Mentioned"}}</p>
  </div>
</div>
 

</div>

<div class="pro_secs">
<h4>Habits</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Eating Habits</label>
  <div class="col-md-5"> 
    <label class="radio-inline active" for="" ng-if= "(lifeStyle.vegetarian == 1)">
      vegetarian
    </label> 
    <label class="radio-inline" for="" ng-if= "(lifeStyle.NonVegetarian == 1)">
      Non-vegetarian
    </label>
    <label class="radio-inline" for="" ng-if= "(lifeStyle.Egaetarian == 1)">
      Egaetarian
    </label>
  </div>
</div> 
 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Smoking Habits</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="" ng-if= "(lifeStyle.smoke == 0)">
      No
    </label> 
    <label class="radio-inline" for="" ng-if= "(lifeStyle.smoke == 1)">
      Yes
    </label>
    <label class="radio-inline" for="" ng-if= "(lifeStyle.smokeOcc == 1)">
      Occasionally
    </label>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Drinking Habits</label>
  <div class="col-md-4"> 
    <label class="radio-inline active" for="" ng-if= "(lifeStyle.drink == 0)">
      No
    </label> 
    <label class="radio-inline" for="" ng-if= "(lifeStyle.drink == 1)">
      Yes
    </label>
    <label class="radio-inline" for="" ng-if= "(lifeStyle.drinkOcc == 1)">
      Occasionally
    </label>
  </div>
</div>

</div>

<div class="pro_secs">
<h4>Location</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Native Place</label>  
  <div class="col-md-4">
    <p>{{basic.belongsToCity || "Not Mentioned"}}</p>
  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="ln">Current City</label>  
  <div class="col-md-4">
  <p>{{basic.currentToCity || "Not Mentioned"}}</p>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="ln">Current State</label>  
  <div class="col-md-4">
    <p>{{basic.currentToState || "Not Mentioned"}}</p>
  </div>
</div>
 

</div>
                    
<div class="pro_secs">
<h4>Education & Occupation</h4>

<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Heighest Qualification</label>
  <div class="col-md-6">
    <p>{{education.hightestEdu || "Not Mentioned"}}</p>
  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Employed In</label>
  <div class="col-md-8"> 
    <p>{{professional.orgType || "Not Mentioned"}}</p>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Occupation</label>
  <div class="col-md-6">
    <p>{{professional.occupation || "Not Mentioned"}}</p>
  </div>
</div>
 <div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Income</label>
  <div class="col-md-3">
    <p>{{professional.currency || "Not Mentioned"}}, {{professional.annualIncome || "Not Mentioned"}}</p>
  </div>
  <div class="col-md-3">
   <label class="radio-inline active" for="" ng-if= "(professional.permonth == 0)">
      Per Month
    </label> 
    <label class="radio-inline" for="" ng-if= "(professional.permonth == 1)">
      Per Year
    </label>
  </div>
</div>

</div>

<div class="pro_secs">
<h4>Family Profile</h4>

 <div class="form-group">
  <label class="col-md-3 control-label" for="gender">Family Status</label>
  <div class="col-md-8"> 
    <p>{{family.familyStatus || "Not Mentioned"}}</p>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="FamilyType">Family Type</label>
  <div class="col-md-8"> 
    <p>{{family.familyType || "Not Mentioned"}}</p>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="gender">Family Values</label>
  <div class="col-md-8"> 
    <p>{{family.familyValues || "Not Mentioned"}}</p>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-3 control-label" for="">About Family</label>
  <div class="col-md-6"> 
  <p>{{family.about || "Not Mentioned"}}</p>
  </div>
</div> 
</div>

<div class="pro_secs">
<h4>About Myself</h4>
   
<div class="form-group">
  <label class="col-md-3 control-label" for="">Something about me</label>
  <div class="col-md-6"> 
    <p>{{basic.aboutMe || "Not Mentioned"}}</p>
  </div>
</div>
</div>
                    
<div class="pro_secs">
<h4>Pranic Healing & Arhatic Yoga</h4>
<p>Course done in Pranic Healing</p>
   
<div class="form-group">
  <div class="col-md-4">
      <label class="control-label color_red" for="">Healing Series</label>
      <div class="checkbox">
      <span ng-repeat="x in parnicYoga.healing">
          {{ x || "Not Mentioned"}}
      </span>
    </div>
  </div>
    <div class="col-md-4">
      <label class="control-label color_red" for="">Spirituality Series</label>
      <div class="checkbox">
      <span ng-repeat="x in parnicYoga.spritual">
          {{ x || "Not Mentioned"}} 
      </span>
    </div>
  </div>
    <div class="col-md-4">
      <label class="control-label color_red" for="">Prosperity Series</label>
      <div class="checkbox">
      <span ng-repeat="x in parnicYoga.prosperity">
          {{ x  || "Not Mentioned"}} 
      </span>
    </div>
  </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="">Practicing Arhatic Level </label>
    <div class="col-md-5">
      <span>{{parnicYoga.arhaticLevel || "Not Mentioned"}}</span>
  </div>
</div>
    <div class="form-group">
    <label class="col-md-3 control-label" for="">Trainer</label>
    <div class="col-md-3">
    <label class="radio-inline active" for="" ng-if= "(parnicYoga.isTrainer == 0)">
      No
    </label> 
    <label class="radio-inline" for="" ng-if= "(parnicYoga.isTrainer == 1)">
      Yes
    </label>
    </div>
    <div class="col-md-5">
    <p>{{parnicYoga.trainerLevel || "Not Mentioned"}}</p>
  </div>
</div>
</div>
</fieldset>
            </form>
        </div>
    </section>
     
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="footer-social-icons">
                           <ul class="social-icons">
                                <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-play"></i></a></li>|
                                <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="copyright">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="contact">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+91 0000000000</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>arhaticticmatrimony@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
  
</body>

</html> 